<?php

return PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        'multiline_whitespace_before_semicolons' => true,
        'phpdoc_to_comment' => false,
        'phpdoc_var_without_name' => false,
        'simplified_null_return' => false,
        'single_line_after_imports' => false,
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()->in(__DIR__)
    )
;
